/* componments/tabBar/tabBar.wxss */
.tabBar {
    width: 100%;
    height: 250rpx;
    background: #2E2B3F;
    position: fixed;
    bottom: 0;
    right: 0;

    .tabBarimg {
        width: 100%;
        height: 100%;

    }

    .tabbarBoxList {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 99;
        display: flex;
        font-size: 34rpx;
        font-family: YouSheBiaoTiHei;
        font-weight: 400;
        color: #FFFFFF;
        line-height: 96rpx;

    }
}

.tabBar-x {
    width: 100%;
    height: 306rpx;
    background: #2E2B3F;
    position: fixed;
    padding-bottom: 56 rpx;
    right: 0;
    bottom: 0;
    box-sizing: border-box;

    .tabBarimg {
        width: 100%;
        height: 100%;
       
    }
    .tabbarBoxList {
        position: fixed;
        bottom: 60rpx;
        left: 0;
        width: 100%;
        z-index: 99;
        display: flex;
        font-size: 34rpx;
        font-family: YouSheBiaoTiHei;
        font-weight: 400;
        color: #FFFFFF;
        line-height: 48rpx;
    }
}




.tabBar-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

}